In [1]:
import pandas as pd
import csv
from sqlalchemy import create_engine

In [2]:
# Loading csv file into dataframe
school_data=pd.read_csv("data/school-distinctive-programmes.csv")

# print school data
school_data.head()

,school_name,alp_domain,alp_title,llp_domain1,llp_title1,llp_domain2,llp_title2
0,ADMIRALTY PRIMARY SCHOOL,STEM,Design Thinking for Sustainability (DTS @ Admi...,Community Service & Student Leadership,High Performance Mind-set for Personal Leadership,NaN,NaN
1,ADMIRALTY SECONDARY SCHOOL,STEM,Design Thinking Through Innovation and Technology,Community & Youth Leadership,Nurturing Mindful Leaders through Community Ou...,NaN,NaN
2,AHMAD IBRAHIM PRIMARY SCHOOL,Science,Sustainability Education ? Nurturing Students ...,Community Service & Student Leadership,From Values to Action - Nurturing Community-Ba...,NaN,NaN
3,AHMAD IBRAHIM SECONDARY SCHOOL,Languages & Humanities,Critical Social Inquiry and Media Literacy,Sports & Outdoor Education,Character Development through Outdoor Learning...,NaN,NaN
4,AI TONG SCHOOL,NaN,NaN,Music & Performing Arts,Caring through ARTS,Sports & Outdoor Education,Character and Leadership Development through O...

In [3]:
# Filtering data where alp_domain = STEM
school_data_stem=school_data.loc[school_data.alp_domain=="STEM"]

In [5]:
try:
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/School_DB')
    conn = engine.connect()
    # Retrieving data from the postgresql database to pandas dataframe
    df = pd.read_sql_query("""SELECT ss.id, ss.school_name, pt.alp_title, lp.llp_domain1, lp.llp_title1
                            FROM stem_school ss
                            JOIN program_title pt
                            ON ss.program_title_id = pt.id
                            JOIN life_program lp
                            ON ss.life_program_id = lp.id
                            WHERE ss.id <= 10;""", conn)
    print(df.head())
    df1 = pd.read_sql_query("""SELECT * FROM stem_school;""", conn)
    print(df1.head())
    
except (exceptions, conn.Error) as error:
    print('Error while connecting to the database')
    
finally:
    if conn:
        conn.close()
        print('Database connection closed')

   id                  school_name  \
0   1     ADMIRALTY PRIMARY SCHOOL
1   2   ADMIRALTY SECONDARY SCHOOL
2   3  ANG MO KIO SECONDARY SCHOOL
3   4     BARTLEY SECONDARY SCHOOL
4   5      BEATTY SECONDARY SCHOOL

                                           alp_title  \
0  Design Thinking for Sustainability (DTS @ Admi...
1  Design Thinking Through Innovation and Technology
2                   Environment Science & Technology
3             Chemical and Life Sciences (Perfumery)
4                 Beattyians Think. Create. Innovate

                              llp_domain1  \
0  Community Service & Student Leadership
1            Community & Youth Leadership
2                 Music & Performing Arts
3            Community & Youth Leadership
4            Community & Youth Leadership

                                          llp_title1
0  High Performance Mind-set for Personal Leadership
1  Nurturing Mindful Leaders through Community Ou...
2                          Integrated Arts Programme
3  i-LEAD @ Bartley (Leadership Experience and De...
4                Beatty's Leaders for Life Programme
   id                  school_name  program_title_id  life_program_id
0   1     ADMIRALTY PRIMARY SCHOOL                 1                1
1   2   ADMIRALTY SECONDARY SCHOOL                 2                2
2   3  ANG MO KIO SECONDARY SCHOOL                 3                3
3   4     BARTLEY SECONDARY SCHOOL                 4                4
4   5      BEATTY SECONDARY SCHOOL                 5                5
Database connection closed