In [21]:
import pandas as pd
import csv
import json
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine, inspect, func, cast

In [22]:
# Loading csv file into dataframe
school_data=pd.read_csv("data/school-distinctive-programmes.csv")

# Filtering data 
school_data_stem=school_data.loc[school_data.alp_domain=="STEM"]

In [23]:
# Creating postgresql database 'School_DB' create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/School_DB')

# Connecting to the database
conn = engine.connect()
school_data_stem.to_sql('school_admin', conn)

In [24]:
# loading csv files as Reader.
# [json.dumps(d) for d in csv.DictReader(open('data/school-distinctive-programmes.csv'))]

In [25]:
# Retrieving data from the postgresql database to pandas dataframe
df = pd.read_sql_query("""SELECT * FROM school_admin""", conn)
df.head()

,index,school_name,alp_domain,alp_title,llp_domain1,llp_title1,llp_domain2,llp_title2
0,0,ADMIRALTY PRIMARY SCHOOL,STEM,Design Thinking for Sustainability (DTS @ Admi...,Community Service & Student Leadership,High Performance Mind-set for Personal Leadership,None,None
1,1,ADMIRALTY SECONDARY SCHOOL,STEM,Design Thinking Through Innovation and Technology,Community & Youth Leadership,Nurturing Mindful Leaders through Community Ou...,None,None
2,9,ANG MO KIO SECONDARY SCHOOL,STEM,Environment Science & Technology,Music & Performing Arts,Integrated Arts Programme,None,None
3,15,BARTLEY SECONDARY SCHOOL,STEM,Chemical and Life Sciences (Perfumery),Community & Youth Leadership,i-LEAD @ Bartley (Leadership Experience and De...,None,None
4,17,BEATTY SECONDARY SCHOOL,STEM,Beattyians Think. Create. Innovate,Community & Youth Leadership,Beatty's Leaders for Life Programme,None,None